<footer>
    <p>Copyright ©PeaceTure Photography 2023</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
    var submitted = false;
  </script>
  <script type="text/javascript">
    $("#gform").on("submit", function (e) {
      $("#gform *").fadeOut(1000);
      $("#gform").prepend(
        '<p style="color:yellow; border-bottom: 20px">Thank you for contacting!</p>'
      );
    });
  </script>
      <script>
        function getDisplayName(url) {
          const parts = url.split('/');
          const fileName = parts[parts.length - 1];
          const [name] = fileName.split(' - ');
          return name;
        }
      </script>
</body>
</html>
